.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    /*font-size: calc(10px + 2vmin);*/
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
}

footer {
    position: sticky;
    bottom: 0vh;
    font-size: x-small;
}

input.search {
    border: 2px solid #282c34;
    border-radius: 10px;
    background: #1a1a1a;
    color: white;
    width: 100%;
    max-width: 400px;
    height: 50px;
    padding: 0em 1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
    margin-right: 5px;
}

@keyframes Button-Press {
    from {
        background: #464d5a;
    }
    to {
        background: #8d8d8d;
    }
}

button {
    border: 2px solid #282c34;
    border-radius: 10px;
    min-width: 100px;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
    transition-duration: 0.3s;
}

button:hover {
    background: #8d8d8d;
}

button:active {
    background: #464d5a;
}

.page-content {
    width: 90%;
    max-width: 500px;
}

.movie-result {
    border: 2px solid #464d5a;
    border-radius: 10px;
    background: #1a1a1a;
    margin: 4px 0px;
    display: flex;
    width: 100%;
    transition-duration: 1s;
}

.movie-result .thumbnail {
    flex: 1 0 auto;
    margin: 0px 10px;
    width: 100px;
    height: 150px;
}

.movie-result .thumbnail img {
    max-width: 100px;
    max-height: 150px;
}

.movie-result .content {
    justify-items: center;
    flex: 1 0 calc(80% - 30px);
    text-align: left;
    vertical-align: middle;
    margin-right: 10px;
}

.movie-title .connection-title:hover {
    color: cadetblue;
    cursor: pointer;
}

.movie-description {
    font-size: small;
}

.connections {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-items: left;
}

.connection {
    border: 1px solid white;
    border-radius: 5px;
    padding: 3px 5px 3px 3px;
    margin-right: 5px;
    margin-bottom: 5px;
    font-size: 0.75em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /*font-weight: bold;*/
    text-transform: uppercase;
    user-select: none;
}

.connection:hover {
    cursor: pointer;
    border-color: cadetblue;
}

.connection:hover .name {
    color: cadetblue;
}

.connection .delete {
    vertical-align: middle;
}

.connection .delete .material-icons {
    font-size: 1.5em;
}

.connection .delete:hover {
    color: #ff4040;
}


